html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

a {
  text-decoration: none;
  outline: none; }

b, strong {
  font-weight: bold !important; }

i, em {
  font-style: italic !important; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select, textarea {
  outline: none;
  -webkit-appearance: none; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-repeat: no-repeat;
  outline: none;
  -webkit-appearance: none;
  outline: none !important; }

html.overflow-hidden {
  overflow: hidden; }

.container {
  width: 900px;
  margin: 0 auto; }
  @media screen and (max-width: 900px) {
    .container {
      width: 100%; } }
  @media screen and (max-width: 639px) {
    .container {
      width: 100%; } }

body {
  overflow-x: hidden;
  color: #374352;
  font-family: "Alegreya Sans", Georgia, serif;
  font-weight: 300; }

#wrap {
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden; }
  #wrap #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }
.clearfix:after {
  clear: both; }

.ic {
  font-size: 0; }
  .ic > *:not(script) {
    display: inline-block;
    vertical-align: top;
    font-size: 18px; }
    .ic > *:not(script).ic {
      font-size: 0; }

.icm {
  font-size: 0; }
  .icm > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px; }
    .icm > *.ic {
      font-size: 0; }

.justify {
  font-size: 1px !important;
  text-align: justify; }
  .justify:after {
    content: '';
    height: 0;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    visibility: hidden; }
  .justify > * {
    display: inline-block;
    vertical-align: top;
    font-size: 18px; }

.middle {
  font-size: 0 !important; }
  .middle:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
    overflow: hidden;
    visibility: hidden; }
  .middle > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px; }

.nowrap-blocks {
  white-space: nowrap; }
  .nowrap-blocks > * {
    white-space: normal; }

.hidden-block {
  display: none; }

.screen-lg, .screen-md, .screen-sm, .hide {
  display: none !important; }

@media screen and (min-width: 901px) {
  .screen-lg,
  .hide.lg {
    display: block !important; }
    .screen-lg.dib,
    .hide.lg.dib {
      display: inline-block !important; } }
@media screen and (max-width: 900px) {
  .screen-md,
  .hide.md {
    display: block !important; }
    .screen-md.dib,
    .hide.md.dib {
      display: inline-block !important; } }
@media screen and (max-width: 639px) {
  .screen-sm,
  .hide.sm {
    display: block !important; }
    .screen-sm.dib,
    .hide.sm.dib {
      display: inline-block !important; } }
.full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 55; }

.row-flex {
  display: flex;
  flex-flow: row; }

@media screen and (min-width: 901px) {
  .hidden-lg {
    display: none !important; } }
@media screen and (min-width: 640px) and (max-width: 900px) {
  .hidden-md {
    display: none !important; } }
@media screen and (max-width: 639px) {
  .hidden-sm {
    display: none !important; } }

.visible-lg, .visible-md, .visible-sm {
  display: none !important; }
@media screen and (min-width: 901px) {
  .visible-lg {
    display: block !important; } }
@media screen and (min-width: 640px) and (max-width: 900px) {
  .visible-md {
    display: block !important; } }
@media screen and (max-width: 639px) {
  .visible-sm {
    display: block !important; } }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("../fonts/AlegreyaSans-Black.eot");
  src: url("../fonts/AlegreyaSans-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-Black.woff2") format("woff2"), url("../fonts/AlegreyaSans-Black.woff") format("woff"), url("../fonts/AlegreyaSans-Black.ttf") format("truetype"), url("../fonts/AlegreyaSans-Black.svg#AlegreyaSans-Black") format("svg");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Alegreya Sans';
  src: url("../fonts/AlegreyaSans-MediumItalic.eot");
  src: url("../fonts/AlegreyaSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-MediumItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-MediumItalic.woff") format("woff"), url("../fonts/AlegreyaSans-MediumItalic.ttf") format("truetype"), url("../fonts/AlegreyaSans-MediumItalic.svg#AlegreyaSans-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Alegreya Sans';
  src: url("../fonts/AlegreyaSans-Bold.eot");
  src: url("../fonts/AlegreyaSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-Bold.woff2") format("woff2"), url("../fonts/AlegreyaSans-Bold.woff") format("woff"), url("../fonts/AlegreyaSans-Bold.ttf") format("truetype"), url("../fonts/AlegreyaSans-Bold.svg#AlegreyaSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Alegreya Sans';
  src: url("../fonts/AlegreyaSans-BlackItalic.eot");
  src: url("../fonts/AlegreyaSans-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-BlackItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-BlackItalic.woff") format("woff"), url("../fonts/AlegreyaSans-BlackItalic.ttf") format("truetype"), url("../fonts/AlegreyaSans-BlackItalic.svg#AlegreyaSans-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Alegreya Sans';
  src: url("../fonts/AlegreyaSans-Light.eot");
  src: url("../fonts/AlegreyaSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-Light.woff2") format("woff2"), url("../fonts/AlegreyaSans-Light.woff") format("woff"), url("../fonts/AlegreyaSans-Light.ttf") format("truetype"), url("../fonts/AlegreyaSans-Light.svg#AlegreyaSans-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Alegreya Sans';
  src: url("../fonts/AlegreyaSans-ExtraBoldItalic.eot");
  src: url("../fonts/AlegreyaSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/AlegreyaSans-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/AlegreyaSans-ExtraBoldItalic.svg#AlegreyaSans-ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Alegreya Sans';
  src: url("../fonts/AlegreyaSans-Medium.eot");
  src: url("../fonts/AlegreyaSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-Medium.woff2") format("woff2"), url("../fonts/AlegreyaSans-Medium.woff") format("woff"), url("../fonts/AlegreyaSans-Medium.ttf") format("truetype"), url("../fonts/AlegreyaSans-Medium.svg#AlegreyaSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Alegreya Sans';
  src: url("../fonts/AlegreyaSans-Italic.eot");
  src: url("../fonts/AlegreyaSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-Italic.woff2") format("woff2"), url("../fonts/AlegreyaSans-Italic.woff") format("woff"), url("../fonts/AlegreyaSans-Italic.ttf") format("truetype"), url("../fonts/AlegreyaSans-Italic.svg#AlegreyaSans-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Alegreya Sans';
  src: url("../fonts/AlegreyaSans-BoldItalic.eot");
  src: url("../fonts/AlegreyaSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-BoldItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-BoldItalic.woff") format("woff"), url("../fonts/AlegreyaSans-BoldItalic.ttf") format("truetype"), url("../fonts/AlegreyaSans-BoldItalic.svg#AlegreyaSans-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Alegreya Sans';
  src: url("../fonts/AlegreyaSans-Thin.eot");
  src: url("../fonts/AlegreyaSans-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-Thin.woff2") format("woff2"), url("../fonts/AlegreyaSans-Thin.woff") format("woff"), url("../fonts/AlegreyaSans-Thin.ttf") format("truetype"), url("../fonts/AlegreyaSans-Thin.svg#AlegreyaSans-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Alegreya Sans';
  src: url("../fonts/AlegreyaSans-ExtraBold.eot");
  src: url("../fonts/AlegreyaSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-ExtraBold.woff2") format("woff2"), url("../fonts/AlegreyaSans-ExtraBold.woff") format("woff"), url("../fonts/AlegreyaSans-ExtraBold.ttf") format("truetype"), url("../fonts/AlegreyaSans-ExtraBold.svg#AlegreyaSans-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Alegreya Sans';
  src: url("../fonts/AlegreyaSans-ThinItalic.eot");
  src: url("../fonts/AlegreyaSans-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-ThinItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-ThinItalic.woff") format("woff"), url("../fonts/AlegreyaSans-ThinItalic.ttf") format("truetype"), url("../fonts/AlegreyaSans-ThinItalic.svg#AlegreyaSans-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'Alegreya Sans';
  src: url("../fonts/AlegreyaSans-Regular.eot");
  src: url("../fonts/AlegreyaSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-Regular.woff2") format("woff2"), url("../fonts/AlegreyaSans-Regular.woff") format("woff"), url("../fonts/AlegreyaSans-Regular.ttf") format("truetype"), url("../fonts/AlegreyaSans-Regular.svg#AlegreyaSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Alegreya Sans';
  src: url("../fonts/AlegreyaSans-LightItalic.eot");
  src: url("../fonts/AlegreyaSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-LightItalic.woff2") format("woff2"), url("../fonts/AlegreyaSans-LightItalic.woff") format("woff"), url("../fonts/AlegreyaSans-LightItalic.ttf") format("truetype"), url("../fonts/AlegreyaSans-LightItalic.svg#AlegreyaSans-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
.upper-letter {
  display: inline-block;
  vertical-align: top; }
  .upper-letter:first-letter {
    text-transform: uppercase; }

a {
  color: inherit; }
  a:hover, a:visited {
    color: inherit; }

.text-block {
  font-size: 16px;
  line-height: 1.65; }
  .text-block h1 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px; }
  .text-block p {
    text-align: justify; }
    .text-block p:before {
      content: '';
      display: inline-block;
      width: 1em; }
    .text-block p + p {
      margin-top: 10px; }

.icon-promotion {
  padding-left: 24px; }
  .icon-promotion:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url("../img/promotion-16x16.png"); }
.icon-tickets {
  padding-left: 24px; }
  .icon-tickets:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url("../img/tickets-16x16.png"); }
.icon-wheel {
  padding-left: 24px; }
  .icon-wheel:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url("../img/wheel-16x16.png"); }
.icon-financial {
  padding-left: 24px; }
  .icon-financial:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url("../img/financial-16x16.png"); }
.icon-about {
  padding-left: 24px; }
  .icon-about:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url("../img/about-16x16.png"); }
.icon-career {
  padding-left: 24px; }
  .icon-career:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url("../img/career-16x16.png"); }
.icon-news {
  padding-left: 24px; }
  .icon-news:before, #news .news-list .news .news-meta .date:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url("../img/news-16x16.png"); }

* {
  color: black; }

#wrap {
  padding-bottom: 128px; }

.fancy-bg {
  background: url("../img/photo-1464059728276-d877187d61a9.jpeg") no-repeat 50% 20%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 440px; }
  .fancy-bg:before {
    content: '';
    background: linear-gradient(90deg, crimson, tomato, gold, yellowgreen, olivedrab, skyblue, rebeccapurple);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: -2px; }

header .navbar {
  background-color: black; }
  header .navbar nav ul {
    list-style: none;
    display: flex;
    flex-flow: row; }
    header .navbar nav ul li {
      flex-basis: 20%;
      color: white; }
      header .navbar nav ul li a {
        border-style: dotted;
        border-color: #555;
        border-width: 0 1px;
        display: block;
        width: 100%;
        padding: 7px 0 11px;
        text-align: center;
        font-size: 12pt;
        font-weight: 400; }
        header .navbar nav ul li a:hover {
          background-color: #333; }
        header .navbar nav ul li a > * {
          color: inherit; }
header .banner {
  padding: 50px 0 60px;
  text-align: center; }
  header .banner .text {
    display: inline-block;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 29px 32px;
    font-weight: 800;
    font-size: 200%; }

.fancy-border:before, #news .news-list .news-wrap:before {
  content: '';
  background: linear-gradient(90deg, crimson, tomato, gold, yellowgreen, olivedrab, skyblue, rebeccapurple);
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px; }
.fancy-border.container:before, #news .news-list .container.news-wrap:before {
  left: -2px;
  right: -2px; }

#content {
  background: white; }
  @media screen and (max-width: 900px) {
    #content {
      display: flex;
      flex-flow: row; } }
  @media screen and (max-width: 639px) {
    #content .navbar {
      display: none; } }
  #content .navbar nav ul {
    display: flex;
    flex-flow: row;
    list-style: none; }
    @media screen and (max-width: 900px) {
      #content .navbar nav ul {
        flex-flow: column;
        flex-basis: 25%; } }
    #content .navbar nav ul li {
      flex-basis: 15%;
      border: 0 solid black;
      border-bottom-width: 2px;
      font-size: 0;
      line-height: 0; }
      #content .navbar nav ul li:nth-child(1) {
        border-color: crimson; }
        #content .navbar nav ul li:nth-child(1).active a,
        #content .navbar nav ul li:nth-child(1) a:hover {
          color: #7f0c23;
          background-color: #fef1f4;
          border-color: crimson; }
        #content .navbar nav ul li:nth-child(1) a:before {
          content: '';
          position: absolute;
          top: 48%;
          left: 5%;
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 16px;
          height: 16px;
          background-image: url("../img/promotion-16x16.png"); }
        #content .navbar nav ul li:nth-child(1) a:hover:before {
          top: 43%; }
      #content .navbar nav ul li:nth-child(2) {
        border-color: tomato; }
        #content .navbar nav ul li:nth-child(2).active a,
        #content .navbar nav ul li:nth-child(2) a:hover {
          color: #e02200;
          background-color: #ffedea;
          border-color: tomato; }
        #content .navbar nav ul li:nth-child(2) a:before {
          content: '';
          position: absolute;
          top: 48%;
          left: 5%;
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 16px;
          height: 16px;
          background-image: url("../img/ticket-16x16.png"); }
        #content .navbar nav ul li:nth-child(2) a:hover:before {
          top: 43%; }
      #content .navbar nav ul li:nth-child(3) {
        border-color: gold; }
        #content .navbar nav ul li:nth-child(3).active a,
        #content .navbar nav ul li:nth-child(3) a:hover {
          color: #998100;
          background-color: #fffbe6;
          border-color: gold; }
        #content .navbar nav ul li:nth-child(3) a:before {
          content: '';
          position: absolute;
          top: 48%;
          left: 5%;
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 16px;
          height: 16px;
          background-image: url("../img/wheel-16x16.png"); }
        #content .navbar nav ul li:nth-child(3) a:hover:before {
          top: 43%; }
      #content .navbar nav ul li:nth-child(4) {
        border-color: yellowgreen; }
        #content .navbar nav ul li:nth-child(4).active a,
        #content .navbar nav ul li:nth-child(4) a:hover {
          color: #5c7b1e;
          background-color: #f5faeb;
          border-color: yellowgreen; }
        #content .navbar nav ul li:nth-child(4) a:before {
          content: '';
          position: absolute;
          top: 48%;
          left: 5%;
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 16px;
          height: 16px;
          background-image: url("../img/financial-16x16.png"); }
        #content .navbar nav ul li:nth-child(4) a:hover:before {
          top: 43%; }
      #content .navbar nav ul li:nth-child(5) {
        border-color: olivedrab; }
        #content .navbar nav ul li:nth-child(5).active a,
        #content .navbar nav ul li:nth-child(5) a:hover {
          color: #2d3c0f;
          background-color: #e0f0c0;
          border-color: olivedrab; }
        #content .navbar nav ul li:nth-child(5) a:before {
          content: '';
          position: absolute;
          top: 48%;
          left: 5%;
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 16px;
          height: 16px;
          background-image: url("../img/about-16x16.png"); }
        #content .navbar nav ul li:nth-child(5) a:hover:before {
          top: 43%; }
      #content .navbar nav ul li:nth-child(6) {
        border-color: skyblue; }
        #content .navbar nav ul li:nth-child(6).active a,
        #content .navbar nav ul li:nth-child(6) a:hover {
          color: #30aadc;
          background-color: #f0f9fc;
          border-color: skyblue; }
        #content .navbar nav ul li:nth-child(6) a:before {
          content: '';
          position: absolute;
          top: 48%;
          left: 5%;
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 16px;
          height: 16px;
          background-image: url("../img/career-16x16.png"); }
        #content .navbar nav ul li:nth-child(6) a:hover:before {
          top: 43%; }
      #content .navbar nav ul li:nth-child(7) {
        border-color: rebeccapurple; }
        #content .navbar nav ul li:nth-child(7).active a,
        #content .navbar nav ul li:nth-child(7) a:hover {
          color: #331a4d;
          background-color: #e6d9f2;
          border-color: rebeccapurple; }
        #content .navbar nav ul li:nth-child(7) a:before {
          content: '';
          position: absolute;
          top: 48%;
          left: 5%;
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 16px;
          height: 16px;
          background-image: url("../img/news-16x16.png"); }
        #content .navbar nav ul li:nth-child(7) a:hover:before {
          top: 43%; }
      @media screen and (max-width: 900px) {
        #content .navbar nav ul li {
          border-bottom-width: 0;
          border-right-width: 2px; } }
      #content .navbar nav ul li a {
        display: block;
        width: 100%;
        padding: 18px 10px 19px 24px;
        font-size: 9pt;
        font-weight: 600;
        line-height: normal;
        border: 0 solid white;
        border-bottom-width: 4px; }
        @media screen and (max-width: 900px) {
          #content .navbar nav ul li a {
            border-bottom-width: 0;
            border-right-width: 4px; } }
  #content .main-content {
    flex-grow: 1; }
    #content .main-content .page-title {
      padding: 20px 40px !important;
      font-weight: 500;
      line-height: 16px; }
      #content .main-content .page-title.icon:before {
        left: 16px; }
    #content .main-content img {
      max-width: 100%;
      max-height: 100%; }

.hidden-egg {
  width: 100%;
  height: 160px; }
  .hidden-egg .code {
    overflow: hidden;
    font-size: 0;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    background: black;
    position: absolute;
    width: 2px;
    height: 2px;
    z-index: 20;
    top: 35%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .hidden-egg .code:hover {
      box-shadow: -8px -8px 0 0 tomato, 0 5px 0 0 gold, 5px -8px 0 0 yellowgreen, -5px 5px 0 0 olivedrab, 0 -7px 0 0 skyblue, 0 0 0 2px rebeccapurple, 3px 5px 0 0 crimson; }
    .hidden-egg .code.state-1 {
      width: 8px;
      height: 8px; }
    .hidden-egg .code.state-2 {
      width: 16px;
      height: 16px; }
    .hidden-egg .code.state-3 {
      width: 350px;
      height: auto;
      font-size: 14pt;
      overflow: visible;
      background: crimson;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-clip: 'padding-box';
      padding: 2px 5px; }
      .hidden-egg .code.state-3 .code-holder {
        background: rgba(255, 255, 255, 0.8); }

footer {
  background-image: url("../img/Footer-2x.png");
  background-size: contain;
  background-repeat: repeat-x;
  height: 128px;
  color: black; }
  footer .copyright {
    text-align: center;
    color: white;
    margin-top: 60px; }

#promotions .image {
  font-size: 0;
  line-height: 0; }

#tickets .row-title {
  font-size: 110%;
  padding: 10px 20px; }
#tickets .form-group {
  padding: 10px 20px; }
  @media screen and (max-width: 639px) {
    #tickets .form-group {
      padding: 10px; } }
  #tickets .form-group label {
    display: block;
    line-height: 1.65; }
  #tickets .form-group input[type="text"],
  #tickets .form-group select {
    display: block;
    width: 100%;
    padding: 10px 5px;
    border: 1px solid #ccc;
    background: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: 'padding-box'; }
    #tickets .form-group input[type="text"] + label,
    #tickets .form-group select + label {
      margin-top: 15px; }
  #tickets .form-group input[type="checkbox"] {
    margin-right: 10px;
    -webkit-appearance: checkbox; }
#tickets .tickets-amount .form-group {
  flex-basis: 33.33333%; }
#tickets .tickets .ticket {
  flex-flow: row wrap; }
  #tickets .tickets .ticket .form-group {
    flex-basis: 40%; }
    @media screen and (max-width: 639px) {
      #tickets .tickets .ticket .form-group {
        flex-basis: 100%; } }
  #tickets .tickets .ticket .preview {
    flex-basis: 60%;
    padding: 10px 20px 10px 0; }
    @media screen and (max-width: 639px) {
      #tickets .tickets .ticket .preview {
        flex-basis: 100%;
        padding: 10px; } }
    #tickets .tickets .ticket .preview .ticket {
      height: 100%;
      background-image: url("../img/ticket_usual_center.png");
      background-size: contain;
      background-repeat: repeat-x;
      padding: 65px 25px 0;
      font-weight: bold;
      font-size: 16pt;
      text-transform: uppercase; }
      #tickets .tickets .ticket .preview .ticket:before, #tickets .tickets .ticket .preview .ticket:after {
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      #tickets .tickets .ticket .preview .ticket:before {
        background-image: url("../img/ticket_usual_left.png");
        background-position: left center; }
      #tickets .tickets .ticket .preview .ticket:after {
        background-image: url("../img/ticket_usual_right.png");
        background-position: right center; }
      #tickets .tickets .ticket .preview .ticket:hover {
        transform: rotate(-3deg); }
      @media screen and (max-width: 639px) {
        #tickets .tickets .ticket .preview .ticket .name {
          font-size: 17px; } }
    #tickets .tickets .ticket .preview.fast_pass .ticket {
      background-image: url("../img/ticket_fastpass_center.png"); }
    #tickets .tickets .ticket .preview.fast_pass .ticket:before {
      background-image: url("../img/ticket_fastpass_left.png"); }
    #tickets .tickets .ticket .preview.fast_pass .ticket:after {
      background-image: url("../img/ticket_fastpass_right.png"); }
#tickets button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #afafaf;
  background: linear-gradient(to bottom, #e3e3e3, #f7f7f7); }
  #tickets button:hover {
    box-shadow: inset 0 0 1px #cccccc; }
  #tickets button:active {
    box-shadow: inset 0 1px 2px #cccccc; }

#attractions .attractions_list {
  flex-wrap: wrap;
  padding: 0 15px; }
  #attractions .attractions_list .attraction_wrap {
    flex-basis: 50%;
    padding: 0 5px 10px;
    line-height: 0; }
    @media screen and (max-width: 639px) {
      #attractions .attractions_list .attraction_wrap {
        padding: 0;
        flex-basis: 100%; } }
    #attractions .attractions_list .attraction_wrap .attraction {
      overflow: hidden; }
      #attractions .attractions_list .attraction_wrap .attraction .photo {
        transition: all ease-in-out .3s;
        filter: brightness(70%) sepia(100%) grayscale(60%) hue-rotate(290deg); }
      #attractions .attractions_list .attraction_wrap .attraction .title {
        overflow: hidden;
        transition: all ease-in-out .4s;
        position: absolute;
        left: 10px;
        bottom: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 8px 20px;
        line-height: normal; }
        #attractions .attractions_list .attraction_wrap .attraction .title:before, #attractions .attractions_list .attraction_wrap .attraction .title:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: -100%;
          height: 5px;
          width: 100%; }
        #attractions .attractions_list .attraction_wrap .attraction .title:before {
          background-color: tomato;
          transition: all ease-in .2s .2s; }
        #attractions .attractions_list .attraction_wrap .attraction .title:after {
          background-color: gold;
          transition: all ease-in .2s; }
      #attractions .attractions_list .attraction_wrap .attraction:hover .photo {
        filter: none;
        transform: scale(1.1); }
      #attractions .attractions_list .attraction_wrap .attraction:hover .title {
        background-color: white; }
        #attractions .attractions_list .attraction_wrap .attraction:hover .title:before {
          left: 0;
          transition: left ease-in .2s; }
        #attractions .attractions_list .attraction_wrap .attraction:hover .title:after {
          left: 0;
          transition: left ease-in .2s .2s; }

#financial .financial-data {
  flex-wrap: wrap; }
  @media screen and (max-width: 639px) {
    #financial .financial-data {
      justify-content: center; } }
  #financial .financial-data .financial-text {
    text-align: right;
    border-right: 1px solid; }
    @media screen and (max-width: 639px) {
      #financial .financial-data .financial-text {
        padding-top: 10px !important;
        border: none; } }
  #financial .financial-data .financial-price {
    font-size: 32px;
    font-weight: bold; }
    @media screen and (max-width: 639px) {
      #financial .financial-data .financial-price {
        order: -1;
        padding-bottom: 15px !important;
        border-bottom: 1px solid #ddd; } }
  #financial .financial-data .financial-text,
  #financial .financial-data .financial-price {
    padding: 0 5px;
    flex-basis: 50%; }
    @media screen and (max-width: 639px) {
      #financial .financial-data .financial-text,
      #financial .financial-data .financial-price {
        flex-basis: 70%;
        text-align: center; } }
#financial .financial-download {
  padding: 40px 0;
  text-align: center; }
  #financial .financial-download .download-link {
    position: relative;
    display: inline-block;
    padding: 20px 20px 20px 30px;
    border: 1px solid skyblue;
    color: skyblue;
    border-radius: 3px; }
    #financial .financial-download .download-link:before {
      content: '';
      position: absolute;
      left: 17px;
      top: 29px;
      width: 1px;
      height: 1px;
      transition: box-shadow ease-in-out .2s;
      box-shadow: -5px -10px 0 0 rgba(58, 118, 148, 0), 0 -5px 0 0 rgba(58, 118, 148, 0), -5px -1px 0 0 rgba(58, 118, 148, 0), 0 1px 0 0 rgba(58, 118, 148, 0), 5px -1px 0 0 rgba(58, 118, 148, 0), 0 8px 0 0 rgba(58, 118, 148, 0), -5px 5px 0 0 rgba(58, 118, 148, 0), -2px 0px 0 0 rgba(58, 118, 148, 0), 6px 4px 0 0 rgba(58, 118, 148, 0), -3px 5px 0 0 rgba(58, 118, 148, 0); }
    #financial .financial-download .download-link:hover {
      color: #3a7694;
      border-color: #3a7694; }
      #financial .financial-download .download-link:hover:before {
        box-shadow: 0 -5px 0 0 #3a7694, 0 -3px 0 0 #3a7694, 0 -1px 0 0 #3a7694, 0 1px 0 0 #3a7694, 0 3px 0 0 #3a7694, 0 5px 0 0 #3a7694, -5px 1px 0 0 #3a7694, -2px 3px 0 0 #3a7694, 5px 1px 0 0 #3a7694, 2px 3px 0 0 #3a7694; }

#about .map_space {
  padding: 0 0 0 20px; }
  #about .map_space p {
    margin-bottom: 15px; }
  #about .map_space ol {
    line-height: 1.4;
    padding-left: 20px;
    list-style: decimal; }
    #about .map_space ol li {
      cursor: pointer; }
      #about .map_space ol li:hover {
        text-decoration: underline; }
#about .map_cont {
  width: 60%;
  max-height: 60vh;
  overflow: hidden;
  font-size: 0;
  float: right; }
  #about .map_cont #map {
    width: 100%;
    height: auto; }

#careers .careers_list {
  flex-wrap: wrap;
  padding: 0 15px; }
  #careers .careers_list .careers_count {
    flex-basis: 100%;
    padding: 0 10px 10px;
    margin-bottom: 20px; }
  #careers .careers_list .career_wrap {
    flex-basis: 50%;
    padding: 0 5px 10px;
    line-height: 0; }
    @media screen and (max-width: 639px) {
      #careers .careers_list .career_wrap {
        flex-basis: 100%;
        padding: 0; } }
    #careers .careers_list .career_wrap .career {
      display: block;
      overflow: hidden; }
      #careers .careers_list .career_wrap .career .photo {
        transition: all ease-in-out .3s; }
      #careers .careers_list .career_wrap .career .title {
        overflow: hidden;
        transition: all ease-in-out .4s;
        position: absolute;
        left: 10px;
        bottom: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 8px 20px;
        line-height: normal; }
        #careers .careers_list .career_wrap .career .title:before, #careers .careers_list .career_wrap .career .title:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: -100%;
          height: 5px;
          width: 100%; }
        #careers .careers_list .career_wrap .career .title:before {
          background-color: tomato;
          transition: all ease-in .2s .2s; }
        #careers .careers_list .career_wrap .career .title:after {
          background-color: gold;
          transition: all ease-in .2s; }
      #careers .careers_list .career_wrap .career:hover .photo {
        transform: scale(1.1); }
      #careers .careers_list .career_wrap .career:hover .title {
        background-color: white; }
        #careers .careers_list .career_wrap .career:hover .title:before {
          left: 0;
          transition: left ease-in .2s; }
        #careers .careers_list .career_wrap .career:hover .title:after {
          left: 0;
          transition: left ease-in .2s .2s; }
#careers .careers_info {
  padding: 0 20px 5px;
  font-weight: bold; }
  #careers .careers_info p + p {
    margin-top: 15px; }
  #careers .careers_info a {
    text-decoration: underline; }

#news .news-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  padding: 0 5px 5px; }
  #news .news-list article {
    flex-basis: calc(50% - 20px);
    margin: 10px 10px;
    transition: all ease-in-out .3s; }
  #news .news-list .news {
    background: white; }
    #news .news-list .news .news-meta {
      text-align: right; }
      #news .news-list .news .news-meta.news-pre {
        padding: 5px 20px; }
      #news .news-list .news .news-meta.news-post {
        line-height: 0; }
      #news .news-list .news .news-meta .date {
        display: inline-block;
        position: relative;
        font-size: 14px;
        padding-left: 20px; }
      #news .news-list .news .news-meta .btn {
        display: inline-block;
        overflow: hidden;
        transition: all ease-in-out .4s;
        background-color: #f5f5f5;
        border-top-left-radius: 4px;
        padding: 8px 20px;
        line-height: normal; }
        #news .news-list .news .news-meta .btn:before, #news .news-list .news .news-meta .btn:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: -100%;
          height: 5px;
          width: 100%; }
        #news .news-list .news .news-meta .btn:before {
          background-color: tomato;
          transition: all ease-in .2s .2s; }
        #news .news-list .news .news-meta .btn:after {
          background-color: gold;
          transition: all ease-in 0.2s; }
        #news .news-list .news .news-meta .btn:hover {
          background-color: white; }
          #news .news-list .news .news-meta .btn:hover:before {
            left: 0;
            transition: left ease-in .2s; }
          #news .news-list .news .news-meta .btn:hover:after {
            left: 0;
            transition: left ease-in .2s .2s; }
    #news .news-list .news .content {
      padding: 5px 20px; }
      #news .news-list .news .content .more {
        display: none; }

/*# sourceMappingURL=app.css.map */
