#about {
    .map_space {
        padding: 0 0 0 20px;
        p {
            margin-bottom: 15px;
        }
        ol {
            line-height: 1.4;
            padding-left: 20px;
            list-style: decimal;
            li {
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .map_cont {
        width: 60%;
        max-height: 60vh;
        overflow: hidden;
        font-size: 0;
        float: right;
        #map {
            width: 100%;
            height: auto;
        }
    }
}
