$primary: #374352;
$gold: #d6b77c;
$text-blue: #8395ab;
$border: 1px solid #e6eaee;
$border-hover: #9caabc;

$font-size: 18px;

$screen-lg: 900px;
$screen-sm: 640px;

$font-family: 'Alegreya Sans', Georgia, serif;